


#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50vw;
    text-align: center;
    margin: auto;
    grid-gap: 5px;
    background-color: #BDD4E7;
}
h1{
    font-size: 8rem;
    color:  #BDD4E7;
    font-family: 'Nanum Pen Script', cursive;
}

body, .cell{
    background-color: #637074;
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;

}

.cell{
    font-family: 'Nanum Pen Script', cursive;
    /* font-family: 'Rock Salt', cursive; */
    font-size: 5rem;
    color: #BDD4E7;
    
    height: 6rem;
    
}