


#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 35vw;
    text-align: center;
    margin: auto;
    grid-gap: 5px;
    background-color: #BDD4E7;
}
h1{
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 8rem;
    color:  #BDD4E7;
    font-family: 'Nanum Pen Script', cursive;
}

body, .cell{
    background-color: #637074;
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;

}

.cell{
    font-family: 'Nanum Pen Script', cursive;
    /* font-family: 'Rock Salt', cursive; */
    font-size: 6rem;
    color: #BDD4E7;
    
    height: 7.5rem;
    
}

footer{
    font-size: 1.5rem;
    color: #212227;
    margin-top: 5rem;
}

h3{
    font-size: 3rem;
    margin: 0;
}