

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50vw;
    text-align: center;
    margin: auto;
    grid-gap: 5px;
    background-color: darkgoldenrod;
}

.cell{
    background-color: lightcyan;
     aspect-ratio: 1;
     display: inline-block;
}